<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <!--Avatar-->
            <svg class="img-fluid float-left rounded img-thumbnail" height="125"
                 th:data-jdenticon-value="${account.nickname}" th:if="${#strings.isEmpty(account.profileImage)}"
                 width="125"></svg>
            <img alt="" class="img-fluid float-left rounded img-thumbnail"
                 height="125" src="" th:if="${!#strings.isEmpty(account.profileImage)}" th:src="${account.profileImage}"
                 width="125"/>
        </div>
        <div class="col-8">
            <!--Nickname-->
            <h1 class="display-4" th:text="${account.nickname}">Nickname</h1>
            <!--Bio-->
            <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">자기소개</p>
            <p class="lead" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                한 줄 소개를 추가 해 주세요.
            </p>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a aria-controls="v-pills-profile" aria-selected="true" class="nav-link active" data-toggle="pill"
                   href="#v-pills-profile"
                   id="v-pills-intro-tab" role="tab">소개</a>
                <a aria-controls="v-pills-study" aria-selected="false" class="nav-link" data-toggle="pill"
                   href="#v-pills-study"
                   id="v-pills-study-tab" role="tab">스터디</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div aria-labelledby="v-pills-home-tab" class="tab-pane fade show active" id="v-pills-profile"
                     role="tabpanel">
                    <p th:if="${!#strings.isEmpty(account.url)}">
                        <span style="...">
                            <i class="fa fa-link col-1"></i>
                        </span>
                        <span class="col-11" th:text="${account.url}"></span>
                    </p>
                    <p th:if="${!#strings.isEmpty(account.occupation)}">
                        <span style="...">
                            <i class="fa fa-briefcase col-1"></i>
                        </span>
                        <span class="col-9" th:text="${account.occupation}"></span>
                    </p>
                    <p th:if="${!#strings.isEmpty(account.location)}">
                        <span style="...">
                            <i class="fa fa-location-arrow col-1"></i>
                        </span>
                        <span class="col-9" th:text="${account.location}"></span>
                    </p>
                    <p th:if="${isOwner}" class="col-9">
                        <span style="...">
                            <i class="fa fa-envelope-o col-1"></i>
                        </span>
                        <span class="col-9" th:text="${account.email}"></span>
                    </p>
                    <p class="col-9" th:if="${isOwner || account.emailVerified}">
                        <span style="...">
                            <i class="fa fa-calendar-o col-1"></i>
                        </span>
                        <span class="col-9" th:if="${isOwner && !account.emailVerified}">
                            <a href="#" th:href="@{'/checkemail?email='+${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                        </span>
                        <span class="col-9" th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}"></span>
                    </p>
                    <div th:if="${isOwner}">
                        <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                    </div>
                </div>
                <div aria-labelledby="v-pills-profile-tab" class="tab-pane fade" id="v-pills-study" role="tabpanel">
                    Study
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments.html::footer"></div>
</div>
</body>
</html>